@import './lib/reset.css';
@import './lib/display.css';
@import './lib/positioning.css';
@import './lib/flexbox.css';
@import './lib/align.css';
@import './lib/spacing.css';
@import './lib/buttons.css';
@import './lib/forms.css';
@import './lib/lists.css';
@import './lib/typography.css';
@import './lib/z-index.css';


/* Borders and Rounding */
.border{
    border-style:solid;
    border-width: 1px;
  }
  
  .border-top{
    border-top-style:solid;
    border-top-width: 1px;
  }
  
  .border-right{
    border-right-style:solid;
    border-right-width: 1px;
  }
  
  .border-bottom{
    border-bottom-style:solid;
    border-bottom-width: 1px;
  }
  
  .border-left{
    border-left-style:solid;
    border-left-width: 1px;
  }

  .border-dark { border-color: #222 }
  
  .border-none{ border:0 }
  
  .rounded{ border-radius: 3px }
  .circle{ border-radius:50% }
  
  .rounded-top{ border-radius: 3px 3px 0 0 }
  .rounded-right{ border-radius: 0 3px 3px 0 }
  .rounded-bottom{ border-radius: 0 0 3px 3px }
  .rounded-left{ border-radius: 3px 0 0 3px }
  
  .order-2 { order: 0 }

/* Breakpoints */
@media (max-width: 27em){
    .xs-hide{ display:none !important }
    
    .mobile-button { position: fixed;  }

    .order-2 { order: 2 }
  }
  
  @media (min-width: 40em) and (max-width: 52em){
    .sm-hide{ display:none !important }

    .mobile-button { position: fixed;  }
  }
  
  @media (min-width: 52em) and (max-width: 64em){
    .md-hide{ display:none !important }
  }
  
  @media (min-width: 64em){
    .lg-hide{ display:none !important }
  }
  
  
/* Custom */

body, .bg { background: #222 }

.bg-white { background: #fff }

.bg-90 { background: #222222e3 }

.logo { max-width: 10em }

.white { color: #fff }
.dark { color: #222 }

.w30 { width: 30px }

.bxs { box-shadow: 0px 0px 5px #00000082 }

.pointer { cursor: pointer }

.vh { min-height: calc(100vh - 4rem); }

.selector { color: #111 }